html {
 font-family:sans-serif;
 line-height:1.15;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
}
body { margin: 0; }

.header img {
 position: relative; /* Относительное позиционирование */
 top: 10px; /* Сдвигаем картинку вниз */
 left: 50px;
 width: 90%; /* Ширина слоя */
 height: 20px;
 text-align: center; /* Выравнивание по центру */
}

h1 {
 font-size:2em;
 margin:.67em 0
 text-align: center; /* Выравнивание по центру */
}
.content-white {
 background: #fff; /* Белый цвет фона */
 margin: 0 1px; /* Отступы по горизонтали */
 padding: 2px 2px; /* Поля */
/* text-align: justify;  Выравнивание по ширине */
}
.text-center {
 background: #ffa; /* Белый цвет фона */
 text-align: center; /* Выравнивание по центру */
}
.text-center p {
 margin: 1px 5%; /* Отступы по горизонтали */
 text-align: justify; /* Выравнивание по ширине */
 width: 85%; /* Ширина слоя */
 height: 25%;
}

.footer {
  position: fixed; /* Фиксированное положение */
  left: 0; bottom: 0; /* Левый нижний угол */
  padding: 10px; /* Поля вокруг текста */
  background: #ffa; /* Цвет фона */
  color: #black; /* Цвет текста */
  width: 100%; /* Ширина слоя */
 }
.copyright {
 width: 100%; /* Ширина макета без полей */
 padding: 0 5px 5px; /* Поля */
 margin: auto; /* Выравнивание по центру */
 color: #526118; /* Цвет текста */
}
.copyright p {
 margin: 0 0 1% 40%; /* Отступы текста */
}
