html {
 font-family:sans-serif;
 line-height:1.15;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
}
body { margin: 0; }
header {
 display: block;
 background: #00b0d8 url(images/header-gradient.png) repeat-x;
             /* Градиент */
}
.header-bg {
 background: url(header-animal.png) repeat-x center bottom;
             /* Животные */
 height: 100px; /* Высота шапки */
 text-align: center; /* Выравнивание по центру */
}
.header-bg img {
 position: relative; /* Относительное позиционирование */
 top: 40px; /* Сдвигаем картинку вниз */
}
h1 {
 font-size:2em;
 margin:.67em 0
}
.content-white {
 background: #fff; /* Белый цвет фона */
 margin: 0 11px; /* Отступы по горизонтали */
 padding: 20px 40px; /* Поля */
 text-align: justify; /* Выравнивание по ширине */
}
.text-center {
 background: #ffa; /* Белый цвет фона */
 text-align: center; /* Выравнивание по центру */
}
.footer {
  position: fixed; /* Фиксированное положение */
  left: 0; bottom: 0; /* Левый нижний угол */
  padding: 10px; /* Поля вокруг текста */
  background: #ffa; /* Цвет фона */
  color: #black; /* Цвет текста */
  width: 100%; /* Ширина слоя */
 }
.copyright {
 width: 740px; /* Ширина макета без полей */
 padding: 0 10px 10px; /* Поля */
 margin: auto; /* Выравнивание по центру */
 color: #526118; /* Цвет текста */
}
.copyright p {
 margin: 0 0 5px 170px; /* Отступы текста */
}
